.details-page-parent {
    display: flex;
    /* height: 92.8vh; */
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    /* overflow: hidden; */
}

.dark-details-page-parent {
    background-color: black;
}

.light-details-page-parent {
    background-color: white;
}

.container {
    height: auto;
    width: 100%;
}

.image {
    width: 150px;
    height: 150px;
}

.description {
    height: auto;
    width: 100%;
    /* margin-bottom: 20px; */
    /* overflow: hidden; */
}


/* h3 {
    color: white;
} */

.dark-description {
    color: white;
}

.light-description {
    color: black;
}

.container>div {
    display: inline-block;
}

span {
    font-size: 15px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.dark-container>h3,
.dark-container>div>h1 {
    color: white;
}

.light-container>h3,
.light-container>div>h1 {
    color: black;
}