/* #parent {
    display: flex;
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    background-image: url("../../assets/images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0px 50px;
    overflow: hidden;
    background-color: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: 'row';
}

.dark-ul {
    background-color: #222;
}

.light-ul {
    background-color: #ddd;
}

li button {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.dark-change-theme-btn {
    color: rgb(255, 165, 0);
}

.light-change-theme-btn {
    color: #222;
}

li a:hover:not(.active) {
    background-color: #111;
}

.title {
    margin: auto 0px;
}

.dark-title {
    color: rgb(255, 165, 0);
}

.light-title {
    color: #222;
}

.title>h4 {
    margin: 0px;
}